<section class="body">
  <%= minimal_form_for [current_property, current_collection_type, current_collection] do |f| %>
    <div class="block aside">

      <div class="collection-builder" data-level="0"
           data-elements="<%= collection_elements_path %>">
      </div>

      <%= f.input :item_data, :as => :hidden,
                  :value => current_collection.item_data.to_json %>

      <aside>
        <%= f.input :title %>

        <%= f.input :collection_type_name, :as => :hidden, :readonly => true,
                    :input_html => { :value => current_collection_type.title } %>

        <%= f.simple_fields_for :field_data,
                              OpenStruct.new(f.object.field_data) do |fd| %>
          <% current_collection_type.fields.each do |field| %>
            <%= send(field.html, fd, field, current_collection) %>
          <% end %>
        <% end %>
      </aside>
    </div>
    <%= f.submit "Save" %>
    <% if current_collection? %>
      <%= link_to "Delete #{current_collection_type.title}",
                  [current_property, current_collection_type, current_collection],
                  :class => 'button delete', :method => :delete,
                  :data => { :confirm => 'Are you sure?' } %>
    <% end %>
  <% end %>
</section>
