<section class="body">
  <%= simple_form_for [current_property, current_element] do |f| %>

    <%= f.input :folder_id, :as => :hidden,
                :input_html => { :value => current_folder.try(:id) } %>

    <div class="block aside">
      <%= f.input :title,
                  :placeholder => current_template.element_title_label %>
      <% if current_template.show_body? %>
        <%= f.input :body, :input_html => { :class => 'wysiwyg' } %>
      <% end %>

      <%= f.simple_fields_for :template_data,
                              OpenStruct.new(f.object.template_data) do |fd| %>
        <% current_template.fields.each do |field| %>
          <%= send(field.html, fd, field.html_options) %>
        <% end %>
      <% end %>

      <aside>
        <%= f.input :template_name, :as => :hidden, :readonly => true,
                    :input_html => { :value => current_template.title } %>
        <h3>Info</h3>
        <dl>
          <% if current_element? %>
            <dt>ID:</dt>
            <dd><%= current_element.id %></dd>
            <dt>Slug:</dt>
            <dd><%= current_element.slug %></dd>
            <dt>Created:</dt>
            <dd><%= current_element.p.created_at %></dd>
            <dt>Last Modified:</dt>
            <dd><%= current_element.p.updated_at %></dd>
          <% end %>
          <dt>Template:</dt>
          <dd><%= current_template.title %></dd>
        </dl>
      </aside>
    </div>
    <%= f.submit "Save #{current_template.title}" %>
    <%= link_to "Delete #{current_template.title}",
                [current_property, current_element],
                :class => 'button delete', :method => :delete,
                :data => { :confirm => 'Are you sure?' } %>
  <% end %>
</section>
