<section class="body">
  <%= minimal_form_for [current_property, current_element] do |f| %>
    <div class="block aside">
      <%= f.input :title,
                  :placeholder => current_template.element_title_label %>
      <%= f.input :body %>

      <%= f.simple_fields_for :template_data,
                              OpenStruct.new(f.object.template_data) do |fd| %>
        <% current_template.fields.each do |field| %>
          <%= field.html(fd) %>
        <% end %>
      <% end %>

      <aside>
        <%= f.input :template_name, :as => :hidden, :readonly => true,
                    :input_html => { :value => current_template.title } %>
        <h3>Info</h3>
        <dl>
          <% if current_element? %>
            <dt>ID:</dt>
            <dd><%= current_element.id %></dd>
            <dt>Slug:</dt>
            <dd><%= current_element.slug %></dd>
            <dt>Created:</dt>
            <dd><%= current_element.p.created_at %></dd>
            <dt>Last Modified:</dt>
            <dd><%= current_element.p.updated_at %></dd>
          <% end %>
          <dt>Template:</dt>
          <dd><%= current_template.title %></dd>
        </dl>
      </aside>
    </div>
    <%= f.submit "Save #{current_template.title}" %>
  <% end %>
</section>
