<section class="body">
  <%= simple_form_for [current_property, current_template, current_element] do |f| %>

    <div class="block aside">

      <%= f.simple_fields_for :template_data,
                              OpenStruct.new(f.object.template_data) do |fd| %>
        <% current_template.fields.each do |field| %>
          <%= send(field.html, fd, field, current_element) %>
        <% end %>
      <% end %>

      <aside>
        <%= f.input :template_name, :as => :hidden, :readonly => true,
                    :input_html => { :value => current_template.title } %>
        <h3>Info</h3>
        <dl>
          <% if current_element? %>
            <dt>ID:</dt>
            <dd><%= current_element.id %></dd>
            <dt>Slug:</dt>
            <dd><%= current_element.slug %></dd>
            <dt>Created:</dt>
            <dd><%= current_element.p.created_at %></dd>
            <dt>Last Modified:</dt>
            <dd><%= current_element.p.updated_at %></dd>
          <% end %>
          <% if current_template.document? %>
            <dt>Uploaded:</dt>
            <dd><%= current_element.p.uploaded_at %></dd>
            <dt>URL:</dt>
            <dd><%= link_to current_element.url, current_element.url %></dd>
          <% end %>
          <dt>Template:</dt>
          <dd><%= current_template.title %></dd>
        </dl>
      </aside>
    </div>
    <%= f.submit "Save #{current_template.title}" %>
    <% if current_element? %>
      <%= link_to "Delete #{current_template.title}",
                  [current_property, current_template, current_element],
                  :class => 'button delete', :method => :delete,
                  :data => { :confirm => 'Are you sure?' } %>
    <% end %>
  <% end %>
</section>
