<section class="body">
  <%= minimal_form_for [current_property, focused_user] do |f| %>
    <div class="block aside">
      <% if action_name == 'new' %>
        <p><em>This will prompt an email notification to the new user.
        There will be a button in that notification to let the user sign in
        and set their name and password.</em></p>
      <% else %>
        <%= f.input :name, :autofocus => true,
                    :disabled => focused_user.id.present? %>
      <% end %>
      <%= f.input :email, :autofocus => action_name == 'new', :required => true,
                  :disabled => focused_user.id.present?  %>
      <% if focused_user.id.present? %>
        <p><em>
          <% if focused_user == current_user %>
            You need to visit
            <%= link_to(
              'your profile',
              edit_profile_path(:property_id => params[:property_id])
            ) %>
            to edit your profile settings.
          <% else %>
            Only <%= focused_user.p.name %> can edit their name and email.
          <% end %>
        </em></p>
      <% end %>
      <aside>
        <h3>App Permissions</h3>
        <ul>
          <li class="clickable">
            <span class="label">Sapwood Admin</span>
            <span class="switch">
              <%= f.check_box :is_admin %>
              <label for="user_is_admin"></label>
            </span>
          </li>
        </ul>
        <br><br>
        <h3>Property Permissions</h3>
        <div class="non-admin">
          <ul class="properties-list">
            <% @properties.each do |property| %>
              <li class="switches">
                <span class="group-label"><%= property.title %></span>
                <span class="group clickable">
                  <span class="label">Admin</span>
                  <span class="switch access-admin">
                    <input id="access-admin-<%= property.id %>" type="checkbox"
                           name="user[access][admin][<%= property.id %>]"
                           value="1"
                           <%= 'checked' if focused_user.is_admin_of?(property) %>>
                    <label for="access-admin-<%= property.id %>"></label>
                  </span>
                </span>
                <span class="group clickable">
                  <span class="label">Editor</span>
                  <span class="switch access-editor">
                    <input id="access-editor-<%= property.id %>" type="checkbox"
                           name="user[access][editor][<%= property.id %>]"
                           value="1"
                           <%= 'checked' if focused_user.has_access_to?(property) %>>
                    <label for="access-editor-<%= property.id %>"></label>
                  </span>
                </span>
              </li>
            <% end %>
          </ul>
          <% if action_name == 'new' %>
            <p><em>New user will automatically be added to the
            <%= current_property.title %> property.</em></p>
          <% end %>
        </div>
        <div class="admin">
          <p><em>
            Admin users have access to all properties.
          </em></p>
        </div>
      </aside>
    </div>
    <div class="form-actions">
      <%= f.submit 'Save' %>
    </div>
  <% end %>
</section>
