<section class="body">
  <%= minimal_form_for [current_property, focused_user] do |f| %>
    <div class="block aside">
      <% if action_name == 'new' %>
        <p><em>This will prompt an email notification to the new user.
        There will be a button in that notification to let the user sign in
        and set their name and password.</em></p>
      <% else %>
        <%= f.input :name, :autofocus => true,
                    :disabled => focused_user.id.present? %>
      <% end %>
      <%= f.input :email, :autofocus => action_name == 'new', :required => true,
                  :disabled => focused_user.id.present?  %>
      <% if focused_user.id.present? %>
        <p><em>
          <% if focused_user == current_user %>
            You need to visit <%= link_to 'your profile', edit_profile_path %>
            to edit your profile settings.
          <% else %>
            Only <%= focused_user.p.name %> can edit their name and email.
          <% end %>
        </em></p>
      <% end %>
      <aside>
        <h3>Permissions</h3>
        <ul>
          <li>
            <span class="label">Sapwood Admin</span>
            <span class="switch">
              <%= f.check_box :is_admin %>
              <label for="user_is_admin"></label>
            </span>
          </li>
        </ul>
        <hr>
        <p><strong>Properties</strong></p>
        <div class="non-admin">
          <ul class="properties-list">
            <% @properties.each do |property| %>
              <li>
                <span class="label"><%= property.title %></span>
                <span class="switch">
                  <input id="access-<%= property.id %>" type="checkbox"
                         name="user[access][<%= property.id %>]" value="1"
                         <%= 'checked' if focused_user.has_access_to?(property) %>>
                  <label for="access-<%= property.id %>"></label>
                </span>
              </li>
            <% end %>
          </ul>
          <% if action_name == 'new' %>
            <p><em>New user will automatically be added to the
            <%= current_property.title %> property.</em></p>
          <% end %>
        </div>
        <div class="admin">
          <p><em>
            Admin users have access to all properties.
          </em></p>
        </div>
      </aside>
    </div>
    <%= f.submit 'Save' %>
  <% end %>
</section>
