<div class="card">
  <div class="title">
    <h2 class="logo"><%= svg 'sapwood-wordmark-light' %></h2>
    <h1 class="small">Forgot Your Password?</h1>
  </div>
  <div class="content">

    <%= minimal_form_for resource, :as => resource_name,
                         :url => password_path(resource_name),
                         :html => { :method => :put } do |f| %>

      <%= f.hidden_field :reset_password_token %>

      <div class="input">
        <%= f.input :password, :autofocus => true, :autocomplete => 'off',
                    :wrapper => false %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
      </div>
      <%= f.input :password_confirmation, :autocomplete => 'off' %>

      <%= f.submit 'Change my password' %>
    <% end %>

    <%= link_to 'Sign In', new_user_session_path, :class => 'info' %>
  </div>
</div>
