<%= page_header :title => current_property.title %>

<section class="body">
  <%= minimal_form_for current_property do |f| %>
    <div class="block aside">
      <h3>General</h3>
      <%= f.input :title, :autofocus => true, :label => 'Property Name' %>
      <h3>Config</h3>
      <% unless current_property.valid_templates? %>
        <span class="error">Your template config is invalid.</span>
      <% end %>
      <%= f.input :templates_raw, :label => 'Templates Config (JSON)',
                  :input_html => {
                    :class => ('error' unless current_property.valid_templates?)
                  } %>

      <h3>API Key</h3>
      <p>
        <code><%= current_property.api_key %></code>
      </p>
      <p><em>This property's API key is what enables you to retrieve data from
      the property.</em></p>

    <aside>
      <h3>Design</h3>
      <div class="input color">
        <span class="color-block"></span>
        <%= f.input :color, :label => false, :wrapper => false %>
      </div>
      <br>
      <h3>Import Via CSV</h3>
      <p>Import via CSV is a new feature.
      <%= link_to 'Try it out.', property_import_path(current_property) %></p>
    </aside>
    </div>
    <div class="form-actions">
      <%= f.submit 'Save Changes' %>
    </div>
  <% end %>
</section>
