<%= page_header :title => current_property.title %>

<section class="body">
  <%= minimal_form_for current_property do |f| %>
    <div class="block aside">
      <h3>General</h3>
      <%= f.input :title, :label => false, :autofocus => true,
                  :placeholder => 'Property Name' %>
      <h3>Config</h3>
      <%= f.input :templates_raw, :label => false,
                  :placeholder => 'Template Data (JSON)' %>
      <%= f.input :forms_raw, :label => false,
                  :placeholder => 'Form Data (JSON)' %>

    <aside>
      <h3>Design</h3>
      <div class="input color">
        <span class="color-block"></span>
        <%= f.input :color, :label => false, :wrapper => false %>
      </div>
      <h3>Labels</h3>
      <%= f.simple_fields_for :labels do |ff| %>
        <% Property.labels.each do |label| %>
          <%= ff.input label.to_sym, :required => false,
                       :autofocus => (label == Property.labels.first),
                       :wrapper => false,
                       :input_html => {
                          :value => current_property.label(label) } %>
        <% end %>
      <% end %>
    </aside>
    </div>
    <%= f.submit 'Save Changes' %>
  <% end %>
</section>
