<%= page_header :title => current_property.title %>

<% if @error.present? %>
  <p class="alert">
    <% if @error == NoMethodError %>
      We have a problem here. It's possible one of your column headings does
      not match the field name exactly. Double-check your CSV file and try
      again.
    <% elsif @error == ActiveRecord::RecordInvalid %>
      Data in one of your rows is not valid. Please double-check your data and
      try again.
    <% else %>
      Something went wrong during the import process. Please check that your
      file follows the correct format and retry.
    <% end %>
  </p>
<% end %>

<section class="body">
  <%= minimal_form_for(
    current_property,
    :url => property_process_import_path(current_property)) do |f| %>
    <div class="block">
      <h3>CSV File</h3>
      <%= f.input :csv, :as => :file, :required => true %>
      <h3>Template Name</h3>
      <%= f.input :template_name, :required => true,
                  :collection => current_property
                    .templates.map { |t| [t.name, t.name] } %>
    </div>
    <div class="form-actions">
      <%= f.submit 'Import Elements' %>
    </div>
  <% end %>
</section>
