<%= page_header :title => current_property.title %>

<section>
  <% if current_property.elements.count > 0 %>
    <div class="block quiet search">
      <%= render 'search' %>
    </div>
    <div class="block half">
      <h3>Last Updated</h3>
      <ul>
        <%= render :partial => 'element_block', :collection => @last_updated,
                   :as => :element, :locals => { :date_col => 'updated_at' } %>
      </ul>
    </div>
    <div class="block half">
      <h3>Newest</h3>
      <ul>
        <%= render :partial => 'element_block', :collection => @last_created,
                   :as => :element, :locals => { :date_col => 'created_at' } %>
      </ul>
    </div>
  <% else %>
    <%= render 'empty' %>
  <% end %>
</section>
