<%= page_header :title => current_property.title %>

<section>
  <div class="block half">
    <span class="count"><%= current_property.elements.size %></span>
    <h3>Elements</h3>
  </div>
  <div class="block half">
    <span class="count"><%= current_property_documents.size %></span>
    <h3>Documents</h3>
  </div>
  <div class="block half">
    <span class="count"><%= current_property.collections.size %></span>
    <h3>Collections</h3>
  </div>
  <div class="block half">
    <span class="count"><%= visible_property_users.size %></span>
    <h3>Users</h3>
  </div>
</section>
