<article class="document <%= document.image? ? 'img' : 'doc' %>"
         data-id="<%= document.id %>" data-title="<%= document.title %>"
         data-url="<%= document.version(:small, true) %>"
         data-image="<%= document.image? %>"
         style="background-image: url('<%= document.version(:medium) if document.image? %>')">
  <%= link_to [:edit, current_property, document] do %>
    <span class="title">
      <%=  document.title %>
    </span>
  <% end %>
</article>
