<article class="document <%= document.image? ? 'img' : 'doc' %> <%= 'private' if document.private? %>"
         data-id="<%= document.id %>" data-title="<%= document.title %>"
         data-url="<%= image_thumb_url(document) %>"
         data-image="<%= document.private? ? false : document.image? %>"
         style="background-image: url('<%= ix_image_url(document.path, h: 400, auto: 'format,compress') if document.image? && !document.private? %>')">
  <%= link_to [:edit, current_property, current_template, document] do %>
    <span class="title">
      <%= document.title %>
    </span>
    <span class="thumb hidden">
      <% if document.public? && document.image? %>
        <%= ix_image_tag(document.path, auto: 'format,compress', w: 400, h: 400, fit: 'crop', sizes: '200px') %>
      <% else %>
        <%= image_tag('document.png') %>
      <% end %>
    </span>
  <% end %>
</article>
