<div class="document-filters">
  <%= link_to 'All', property_template_documents_path(current_property, current_template),
              :class => ('active' if params[:f].blank?) %>
  <% (['0-9'] + ('A'..'Z').to_a).each do |f| %>
    <%= link_to f, property_template_documents_path(current_property, current_template, :f => f),
                :class => ('active' if params[:f] == f) %>
  <% end %>
</div>

<% if @documents.present? %>
  <div class="document-tiles">
    <%= render :partial => 'document', :collection => @documents %>
  </div>
  <%= paginate @documents %>
<% else %>
  <%= render 'empty' %>
<% end %>
