<div class="card">
  <div class="title">
    <h2 class="logo"><%= svg 'sapwood-wordmark-light' %></h2>
    <h1 class="small">Please Sign In</h1>
  </div>
  <div class="content">

    <%= minimal_form_for resource, :as => resource_name,
                         :url => session_path(resource_name) do |f| %>

      <%= f.input :email, :autofocus => true %>
      <%= f.input :password, :autocomplete => 'off' %>

      <%= f.submit 'Sign In' %>
    <% end %>

    <%= link_to "Forgot your password?", new_password_path(resource_name),
                :class => 'info' %>
  </div>
</div>
