<a href="#" id="sidebar-trigger"><span>&lt;&nbsp;</span>Menu</a>

<aside class="main">
  <div class="controls">
    <%= link_to 'Deck', deck_path if can_view_deck? %>
    <div class="current-property">
      <span class="color-block"
            style="background: <%= current_property.color %>"></span>
      <span class="title">
        <%= link_to current_property.title, current_property %>
        <% if current_user.is_admin? %>
          <div class="dropdown right">
            <a href="#" class="trigger"><i class="icon-settings"></i></a>
            <ul>
              <li><h3>Settings</h3></li>
              <li>
                <%= link_to 'General',
                            edit_property_path(current_property, 'general') %>
              </li>
              <li>
                <%= link_to 'Data Config',
                            edit_property_path(current_property, 'config') %>
              </li>
              <li><h3>Security</h3></li>
              <li>
                <%= link_to 'Users',
                            property_users_path(current_property) %>
              </li>
              <li>
                <%= link_to 'API Key',
                            edit_property_path(current_property, 'keys') %>
              </li>
              <li><h3>Tools</h3></li>
              <li>
                <%= link_to 'Import Elements',
                            property_import_path(current_property) %>
              </li>
            </ul>
          </div>
        <% end %>
      </span>
    </div>
    <div class="search">
      <input type="text" placeholder="search" id="search"
             data-url="<%= property_search_path(current_property) %>">
      <ul class="results"></ul>
    </div>
  </div>
  <nav>
    <ul>
      <% current_property.menu.each do |item| %>
        <% if item.is_a?(Array) %>
          <li>
            <a href="#" class="toggle-sub-menu"><%= item[0].namespace %></a>
            <ul class="<%= 'active' if current_template && item.collect(&:name).include?(current_template.name) %>">
              <%= render :partial => 'sidebar_item', :collection => item,
                         :as => :item %>
            </ul>
          </li>
        <% else %>
          <%= render :partial => 'sidebar_item', :locals => { :item => item } %>
        <% end %>
      <% end %>
    </ul>
  </nav>
</aside>
