<aside class="main">
  <div class="controls">
    <a href="#" class="menu-toggle">&lt; Menu</a>
    <%= link_to 'Deck', deck_path  %>
    <div class="current-property">
      <span class="color-block"
            style="background: <%= current_property.color %>"></span>
      <span class="title">
        <%= link_to current_property.title,
                    edit_property_path(current_property) %>
      </span>
    </div>
    <div class="search">
      <input type="text" placeholder="search">
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <%= link_to current_property.label('elements'),
                    property_elements_path(current_property) %>
      </li>
      <li>
        <%= link_to current_property.label('documents'),
                    property_documents_path(current_property)  %>
      </li>
      <li>
        <%= link_to current_property.label('collections'),
                    property_collections_path(current_property)  %>
      </li>
      <li><%= link_to current_property.label('responses'), '#' %></li>
    </ul>
  </nav>
</aside>
