<a href="#" id="sidebar-trigger"><span>&lt;&nbsp;</span>Menu</a>

<aside class="main">
  <div class="controls">
    <div class="current-property">
      <span class="color-block"
            style="background: <%= current_property.color %>"></span>
      <span class="title">
        <%= link_to current_property.title, current_property %>
        <div class="dropdown right mobile user">
          <a href="#" class="trigger"><i class="icon-user"></i></a>
          <ul class="mobile">
            <li><h3><%= current_user.name %></h3></li>
            <% if current_property && can_view_deck? %>
              <li><%= link_to 'Deck', deck_path %></li>
            <% end %>
            <% if current_property %>
              <li>
                <%= link_to(
                  'Profile',
                  edit_profile_path(:property_id => current_property.id)
                ) %>
              </li>
            <% end %>
            <li>
              <%= link_to 'Sign Out', destroy_user_session_path,
                          :method => :delete %>
            </li>
          </ul>
        </div>
        <% if is_property_admin? %>
          <div class="dropdown right">
            <a href="#" class="trigger"><i class="icon-settings"></i></a>
            <ul>
              <li><h3>Settings</h3></li>
              <li>
                <%= link_to 'General', edit_property_path(current_property, 'general') %>
              </li>
              <li>
                <%= link_to 'Data Config', edit_property_path(current_property, 'config') %>
              </li>
              <li><h3>Security</h3></li>
              <li>
                <%= link_to 'Users', property_users_path(current_property) %>
              </li>
              <li>
                <%= link_to 'API Keys', property_keys_path(current_property) %>
              </li>
              <li><h3>Tools</h3></li>
              <li>
                <%= link_to 'Import Elements', property_import_path(current_property) %>
              </li>
            </ul>
          </div>
        <% end %>
      </span>
    </div>
    <div class="search">
      <% unless request.path == property_path(current_property) %>
        <%= render 'search' %>
      <% end %>
    </div>
  </div>
  <nav>
    <ul>
      <%= render partial: 'sidebar_item', collection: current_property.views %>
    </ul>
  </nav>
</aside>
