<a href="#" id="sidebar-trigger"><span>&lt;&nbsp;</span>Menu</a>

<aside class="main">
  <div class="controls">
    <%= link_to 'Deck', deck_path  %>
    <div class="current-property">
      <span class="color-block"
            style="background: <%= current_property.color %>"></span>
      <span class="title">
        <%= link_to current_property.title, current_property %>
        <%= link_to(edit_property_path(current_property),
                    :class => 'edit') do %>
          <i class="icon-settings"></i>
        <% end %>
      </span>
    </div>
    <div class="search">
      <input type="text" placeholder="search" id="search"
             data-url="<%= property_search_path(current_property) %>">
      <ul class="results"></ul>
    </div>
  </div>
  <nav>
    <ul>
      <% current_property.menu.each do |item| %>
        <% if item.is_a?(Array) %>
          <li>
            <a href="#" class="toggle-sub-menu"><%= item[0].namespace %></a>
            <ul class="<%= 'active' if current_template && item.collect(&:name).include?(current_template.name) %>">
              <%= render :partial => 'sidebar_item', :collection => item,
                         :as => :item %>
            </ul>
          </li>
        <% else %>
          <%= render :partial => 'sidebar_item', :locals => { :item => item } %>
        <% end %>
      <% end %>
      <% if current_user.is_admin? %>
        <li>
          <%= link_to 'Users', property_users_path(current_property)  %>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>
