<a href="#" id="sidebar-trigger"><span>&lt;&nbsp;</span>Menu</a>

<aside class="main">
  <div class="controls">
    <%= link_to 'Deck', deck_path  %>
    <div class="current-property">
      <span class="color-block"
            style="background: <%= current_property.color %>"></span>
      <span class="title">
        <%= link_to current_property.title, current_property %>
        <%= link_to 'Settings', edit_property_path(current_property),
                    :class => 'edit' %>
      </span>
    </div>
    <div class="search">
      <input type="text" placeholder="search">
    </div>
  </div>
  <nav>
    <ul>
      <% unless current_property.label_hidden?('elements') %>
        <li>
          <%= link_to current_property.label('elements'),
                      property_elements_path(current_property) %>
        </li>
      <% end %>
      <% unless current_property.label_hidden?('documents') %>
        <li>
          <%= link_to current_property.label('documents'),
                      property_documents_path(current_property)  %>
        </li>
      <% end %>
      <% unless current_property.label_hidden?('collections') %>
        <li>
          <%= link_to current_property.label('collections'),
                      property_collections_path(current_property)  %>
        </li>
      <% end %>
      <% unless current_property.label_hidden?('responses') %>
        <li><%= link_to current_property.label('responses'), '#' %></li>
      <% end %>
      <% unless current_property.label_hidden?('users') %>
        <li>
          <%= link_to current_property.label('users'),
                      property_users_path(current_property)  %>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>
