<%= page_header :title => 'My Profile' %>

<section class="body">
  <%= minimal_form_for(
    current_user,
    :url => update_profile_path(:property_id => params[:property_id])
  ) do |f| %>
    <div class="block aside">
      <%= f.input :name, :autofocus => true,
                  :required => (params[:setup].to_bool == true) %>
      <% if params[:setup].to_bool == true %>
        <p class="error">Add your name.</p>
      <% end %>
      <%= f.input :email, :required => true, :disabled => true %>
      <h3>Change Your Password</h3>
      <%= f.input :password, :required => (params[:setup].to_bool == true) %>
      <%= f.input :password_confirmation,
                  :required => (params[:setup].to_bool == true) %>
      <% if params[:setup].to_bool == true %>
        <p class="error">Set a password for your account.</p>
      <% end %>
      <aside>
        <h3>Your Properties</h3>
        <ul class="properties-list">
          <% current_user.accessible_properties.each do |property| %>
            <li>
              <%= link_to property.title, property %>
            </li>
          <% end %>
        </ul>
      </aside>
    </div>
    <%= f.submit 'Save' %>
  <% end %>
</section>
