<!DOCTYPE html>
<html>
  <head>
    <title>Sapwood</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body class="<%= controller_name %>">

    <div id="container">
      <%= render 'header' if user_signed_in? %>
      <div class="page-content">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
